.main-chat
  .main-chat__group-info
    %ul.main-chat__group-info__group-detail
      %li.main-chat__group-info__group-detail__group-name
        = @group.name
      %li.main-chat__group-info__group-detail__user-name
        - @group.users.each do |user|
          = user.name
    %p.main-chat__group-info__edit
      = link_to edit_group_path(current_user) do
        edit 
 
  .main-chat__message-list
    = render @messages
  
  .main-chat__message-form
    = form_for [@group, @message] do |f|
      .main-chat__message-form__input-box
        = f.text_field :content, class: "main-chat__message-form__input-box__text", placeholder: "type a message"
        = f.label :image, class: "main-chat__message-form__input-box__image" do
          = icon("fas", "image")
          = f.file_field :image, class: "main-chat__message-form__input-box__image__file"
      =f.submit "Send", class: "main-chat__message-form__submit-btn"