.side-bar

 .side-bar__user
  .side-bar__user__top-items
   %p.side-bar__user__top-items__name
    = current_user.name
   %ul.side-bar__user__top-items__menu
    %li.side-bar__user__top-items__edit-user
     = link_to new_group_path do
      = icon("fas", "edit")
    %li.side-bar__user__top-items__new-group
     = link_to edit_user_path(current_user) do
      = icon("fas", "cog")
      
 .side-bar__group-list
  - current_user.groups.each do |group|
   .side-bar__group-list__detail
    = link_to group_messages_path(group) do
     %p.side-bar__group-list__detail__name
      = group.name
     %p.side-bar__group-list__detail__message
      = group.show_last_message

 